.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  background-color: #141414;
  z-index: 100;
}

.pillImg {
  filter: grayscale(1);
  width: 2.3rem;
  height: 2.3rem;
}

.h1 {
  color: #80808080;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.userNameSection {
  width: 100%;
  height: 4rem;
  border-radius: 20px;
  margin-top: -15px;
  background-color: #000000;
  animation: loading 1s infinite alternate;
}

.createItemForm {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background-color: #000000;
  animation: loading 1s infinite alternate;
}

.infoSection {
  width: 100%;
  height: 62px;
  border-radius: 20px;
  background-color: #000000;
  animation: loading 1s infinite alternate;
}

.itemSection {
  width: 100%;
  height: 8rem;
  border-radius: 20px;
  background-color: #000000;
  animation: loading 1s infinite alternate;
}

@media (prefers-color-scheme: light) {
  .header {
    background-color: #eeeeee;
  }
}

@keyframes loading {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
}
