.react-calendar {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin: 1rem 0 5rem;
}

.react-calendar__navigation {
  display: flex;
  gap: 10px;
}

.react-calendar__year-view__months {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.react-calendar__year-view__months__month {
  flex: none !important;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #80808030;
}

.react-calendar__navigation__arrow {
  width: 50px;
  height: 40px;
  border: 1px solid #80808080;
  border-radius: 10px;
}

.react-calendar__navigation__label {
  border: 1px solid #80808080;
  border-radius: 10px;
}

.react-calendar__month-view__weekdays {
  justify-content: center;
  align-items: center;
  height: 45px;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
}

.react-calendar__month-view__weekdays__weekday--weekend abbr[title="일요일"] {
  color: red;
}

.react-calendar__month-view__days__day {
  position: relative;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  transition: 0.2s;
}

.react-calendar__month-view__days__day:active {
  background-color: #80808030;
}
